*{
    color:white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background: #202020;
    font-family: "Kaisei HarunoUmi", serif;
   
}

/*barra de navegacion Vertical */
body::-webkit-scrollbar{
    background-color: black;
    width: 12px;
  
}


body::-webkit-scrollbar-thumb{
    background-color: rgba(255, 0, 0, 0.9);
    border-radius: 5px;
    border: solid 1px rgba(255, 255, 255, 0.391);

}

/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~~*/


.arriba{
    
   position: relative;
    display: flex;

}
.cajaInicio{
   position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 50px;
   
    background-color:rgba(10, 10, 10, 0.5);
    border-bottom: 1px solid  rgba(13, 231, 46, 0.6);
    border-radius: 5px;
}

.sitioP{

    display: flex;
    text-decoration: none;
}


.cajaLogo{
    display: flex;
    align-items: center;
}


.logo{
    margin-left: 5px;
    width: 45px;
    height:40px;
}



/* N O M B R E  DEL S I T I O*/


.contenedorNombrePagina{
    display: flex;
    margin-left: 10px;
    align-items: center;
   
}
.nombrePrincipal{
    color:#0bf129;
    font-size: 18px;
    margin-top: auto;
    margin-bottom: auto;
   
   
  

}
.segundaParteNombrePrincipal{
    color:white;
    font-size:20px ;
    margin-top: auto;
    margin-bottom: auto;
   

}

.cajaListaPrincipal{

margin-left: 35px;
display: flex;
margin-top: auto;
margin-bottom: auto;

}

.cajaListaPrincipal a {
    text-decoration: none;
}


.listaPrincipal{


    margin-right:20px ;
    list-style-type: none;
   





}

.listaPrincipal:hover{

    border-bottom: solid 1px white;
    color: #0bf129;
    padding-right: 6px;
    padding-left: 6px;
    cursor: pointer;
    transition: 0.5s;
    padding-bottom: 3px;
   
  font-family:  url( "https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&display=swap" 
  )
  ;

    

}

.fondo1{

    background: linear-gradient(rgba(10, 10, 10,0.75),rgba(10,10,10,0.75)), url("imagenes/bandicam\ 2024-03-21\ 09-53-19-987.jpg");
    margin-left: 10px;
    margin-right: 10px;
    margin-top : 50px;
    background-position: center;
    background-size: cover;
    height: 500px;
    display:flex;
   

    

}
.cajaPoster1{
     
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;


}


.poster1{
  
    height: 410px;
   width: 300px;
   border-radius: 15px;
   border: 2px solid red;
}
.cajaEstreno{

    
 width: 100%;
    
    
   
    
}



.cajaEstreno h3{
    width: 100%;
    display: flex;
   justify-content: center;
        margin-top: 10px;
            font-size: 30px;
            flex-direction: row;
            border-bottom: 1px solid rgba(255, 255, 255, 0.286);
       
}


.cajaInformacion{
    margin-top: 10px;
    width: 100%;
display: flex;
   
}





  
    .informacion{

        
        margin-left: 10px;
       
    }

    .temas{
        margin-top: 10px;
        color: #0bf129;
        font-size: 20px;
        padding-bottom: 10px;

    }

    .temas p {

        font-size: 18px;
        font-weight: normal;
    }

    .cajaDeVideo{
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: 10px;
        
        margin-top: 50px;
        margin-bottom: auto;
        width: 400px;

    
    }

      .videoTrailer{

        display: flex;
        border-radius: 10px;
        
        
    }

    .videoTrailer:hover{
        
        border: solid 1px red;
        border-radius: 0;
        transition: 0.4s;
    }
    .cajaDeSeries{

    
        margin-left: 10px;
        margin-right: 10px;
        
    }

    .series{
        margin-top: 10px;
    
    font-size: 25px;
    border-bottom :1px solid rgba(255, 255, 255, 0.24);

   
    }



    .cajaSerieRickyMorty {
        margin-top: 10px;
        display: flex;
    


        
    }
    .cajaSerieRickyMorty a{
        
        text-decoration: none;
        text-align: center;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .iconPlay{
        position: absolute;
        width: 80px;
        height: 80px;
       top: 40%;
       right: 40%;
       display: none;
        
    }

  

   
    .posterRickMorty{
        height: 360px;
        border-radius: 25px;



    }

   

    .cajaSerieRickyMorty a:hover{
       

        color: #0bf129;
    }
    .posterRickMorty:hover{
        border-radius: 0;
        transition: 0.3s;
    
        border: solid 1px red;
        opacity: 0.7;
        
    }

    footer{
      
        margin-top: 70px;
        
        border-top: solid 1px rgba(255, 255, 255, 0.24);
      background-color: #101010;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .cajaPieDePagina{
        display: flex;
    
     justify-content: center;
     align-items: center;
     width: 100%;

       

    } 
     
    .redes{
        display: flex;
        justify-content: center;
        align-items: center;
        

    }
    .redes a  {

        margin-right: 15px;
    }



    svg{
        width: 30px;
        height: 30px;
        margin-left: 5px;
      
    }

    svg:hover{
        opacity: 0.7;
        width: 35px;
        height: 35px;
        transition: 0.4s;
    }

    /* ICONOS*/
 



/*RUTAS*/
