*{
    color: white;
    margin: 0;
    padding: 0;
}


body{
    background-color: #202020;
    font-family: "Kaisei HarunoUmi", serif;
}

.arriba{
    
    position: relative;
     display: flex;
 
 }


.cajaInicio{
    position: absolute;
     width: 100%;
     display: flex;
     flex-direction: row;
     height: 50px;
    
     background-color:rgba(10, 10, 10, 0.5);
     border-bottom: 1px solid  rgba(13, 231, 46, 0.6);
     border-radius: 5px;
 }
 .cajaInicio a {
    display: flex;
    text-decoration: none;
 }
 .cajaLogo{
    display: flex;
    align-items: center;
 }

 .logo{
    margin-left: 5px;
    width: 45px;
    height: 40px;
}

.contenedorNombrePagina{
    display: flex;
    margin-left: 10px;
   
}
.nombrePrincipal{
    color:#0bf129;
    font-size: 18px;
    margin-top: auto;
    margin-bottom: auto;

}


.segundaParteNombrePrincipal{
    color: white;
    font-size:20px ;
    margin-top: auto;
    margin-bottom: auto;
   

}

.caja1{

    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 500px;
   background: linear-gradient(rgba(10,10,10,0.55),rgba(10,10,10,0.55)), url("../imagenes/fondo3\ Morty.jpg");
   
     
   background-size: cover;
   
   background-position-x: center;

  margin-top: 50px;
  display: flex;
  align-items: center;

}

.poster{
    width: 250px;
    opacity: 0.7;
    height: 400px;
    margin-left: 10px;
    
}


.presentacion{
    border-bottom: solid 1px rgba(234, 226, 226, 0.3);
    margin-bottom: 20px;
    
}

.presentacion p {
    font-size: 20px;
    color:#0bf129;
}

/*Estilos de contenedores de Temporadas */

#seccion2{
 position: relative;
}




.temporadas{

display: flex;
overflow: hidden;
scroll-behavior: smooth;


}


.cajaTemporada{
    background-color: rgba(20, 20, 20, 1);

    align-items: center;
    border-radius: 30px;
    padding-top: 5px;
    padding-bottom: 5px;

}
.presentacionDeTemporadas{
    display: flex;
    flex-direction: column;
}


.posterTemporada{

    width: 250px;
    height: 380px;
    margin-left: 20px;
    border-radius: 5px;
}
.cajaTemporada p {
  
    margin-left: 10px;

    font-size: 20px;
}


/*boton izquierda */


#izq{
    position: absolute;
    top: 45%;
    left: 5px;
    padding-top: 50px;
    padding-bottom: 50px;
    border: none;
    font-size: 30px;
    background-color: rgba(33, 32, 32, 0.98);
    transform: translateY(-50%);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    color: white;
    opacity: 0.4;
}

#der{
    position: absolute;
    top: 45%;
    right: 5px;
    padding-top: 50px;
    padding-bottom: 50px;
    border: none;
    font-size: 30px;
    background-color: rgba(33, 32, 32, 0.98);
    transform: translateY(-50%);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    color: white;
    opacity: 0.4;
}


#der:hover{

    border: solid 1px white;
    opacity: 0.8;
    transition:0.3s ;
    font-weight: bold;
    
  }
  #izq:hover{
  
    border: solid 1px white;
    opacity: 0.8;
    transition:0.3s ;
    font-weight: bold;
        
  }








